/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mt-100 {
    margin-top: 100px;
}
// Bootstrap Loading Skeleton
%loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
    border-color: #eee;

    &::placeholder {
        color: transparent;
    }
}
@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;

    img {
        filter: grayscale(100) contrast(0%) brightness(1.8);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    .btn,
    label,
    .form-control {
        @extend %loading-skeleton;
    }
}
